*{
	margin: 0;
	padding: 0;
}

body{
	font-family: "CompoundryVF12";
	display: grid;
	width: 100%;
	display: grid;
	flex-wrap: wrap;
	grid-template-rows: repeat (6, 200px);
	grid-template-columns: repeat (6, 200px);
	grid-gap: 3em;
	height: 100vh;
	margin: 0;
	background: radial-gradient (circle, #a8d4b5, #62b0b0);

	}



h1{	
	grid-column: 1, 4;
	margin: 5vw;

   	align-content: center;
   	font-size: 80pt;
   	color: lightgreen;
	
}

h2 {

	margin-left: 5vw;
    font-size: 24px;

}

img {
	grid-row-start: 2;
  	width: 200px;            /* Festgelegte Breite */
  	height: auto;
}

