*{
	margin: 0;
	padding: 0;
}

body{
	font-family: "CompoundryVF12"
	font-size: 90pt;
}

.container{
	display: grid;
	grid-template-rows: 200px 200px 200px 200px 200px 200px;
	grid-template-columns: 200px 200px 200px 200px 200px 200px;
	grid-gab: 2em;
}

h1{	font-size: 90pt;
	
	
}

.item-1{
	width: 190px;
	height: 120px;
}

