*{
	margin: 0;
	padding: 0;
}

body{
	font-family: "CompagnonLight";
}

.container{
	display: grid;
	grid-template-rows: 200px 200px 200px 200px 200px 200px;
	grid-template-columns: 200px 200px 200px 200px 200px 200px;
}

.item1{
	width: 200px;
	height: 120px;
}

